h2 {
    color: #741B47;
}

a {color: #741B47;
}

ul {color: #741B47;
}

p.code {
  color: FireBrick;
  }
  
  p.object {
  color: Lime;
  }
  
  p.action {
  color: Aqua	;
  }
  
  p.property {
  color: Gold;
  }
  
  p.link {
  color: DeepPink ;
  }
  
  p.smth {
  color: #741B47;
  }

  button.del, button.change, button.input, button.delete {
    color: rgb(116, 27, 71);
    background-color: rgb(208, 255, 0);
    margin-right: 10px;
    
    }
    
    body{
    /*background-image: url(ss.jpg);*/
    background-size: cover;
    }
