p.code {
color: FireBrick;
}

p.object {
color: Lime;
}

p.action {
color: Aqua	;
}

p.property {
color: Gold;
}

p.link {
color: DeepPink ;
}

p.smth {
color: DarkMagenta;

}

button.del, button.change, button.input, button.delete {
color: rgb(255, 0, 234);
background-color: rgb(208, 255, 0);
margin-right: 10px;

}

body{
background-image: url(ss.jpg);
background-size: cover;
}
